<div class="container">
  <div class="negro_os card rounded-5 p-2 my-4">
    <div class="row justify-content-center">
      <div class="negro_cla card col-5 rounded-5 m-4 p-5">
      </div>
      <div class="negro_cla card col-5 rounded-5 m-4 p-5">
      </div>
      <div class="row justify-content-around">
        <div class="negro_cla card col-11 rounded-5 mx-5 my-2 mb-4 p-5">
        </div>
      </div>
    </div>
  </div>
</div>
