<div class="container">
  <div class="negro_os card col-12 p-4 mt-3 mx-1 rounded-5">
    <div class="row">
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="negro_os card col-12 my-3 mx-1 p-3 w-auto h-auto rounded-5">
    <div class="negro_cla card px-5 py-2 rounded-5">
      <div class="row">
        <div class="negro_os card rounded-5 col-2">
          <p class="text-center pt-2">123132124124</p>
        </div>
        <div class="negro_os card rounded-5 col-2">
          <p class="text-center pt-2">1234567891011</p>
        </div>
        <div class="negro_os card rounded-5 col-2">
         <p class="text-center pt-2">/p>
        </div>
        <div class="negro_os card rounded-5 col-2"></div>
        <div class="negro_os card rounded-5 col-2"></div>
        <div class="negro_os card rounded-5 col-2"></div>
      </div>
    </div>
    <div class="negro_cla card px-5 py-2 m-1 rounded-5">
      <div class="row">
        <div class="negro_os card rounded-5 col-2 d-flex justify-content-between p-3 my-1"></div>
        <div class="negro_os card rounded-5 col-2 d-flex justify-content-between p-3 my-1"></div>
        <div class="negro_os card rounded-5 col-2 d-flex justify-content-between p-3 my-1"></div>
        <div class="negro_os card rounded-5 col-2 d-flex justify-content-between p-3 my-1"></div>
        <div class="negro_os card rounded-5 col-2 d-flex justify-content-between p-3 my-1"></div>
        <div class="negro_os card rounded-5 col-2 d-flex justify-content-between p-3 my-1"></div>
      </div>
    </div>
  </div>
</div>
