.avatar {
  width: 3.5rem;
  height: 3rem;
  font-size: 1rem;
  background-color: aliceblue;
  margin-top: 25px;
}


.avatar-img {
  width: 100%;
  height: auto;
  border-radius: 50em;
}

.logo {
  width: 3.5rem;
  height: 2rem;
  font-size: 1rem;
  background-color: aliceblue;
}
